@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #000000;
    --color-secondary: 229, 10, 21;
  }

  body {
    @apply bg-black;
  }
}

@layer utilities {
  .overlay {
    @apply absolute top-0 left-0 w-full h-full bg-gradient-to-r from-[#000000e0] from-40% to-transparent;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

input {
  all: unset;
}

img {
  user-select: none;
  pointer-events: none;
}

/* Loader */
.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
